<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 定义别名 -->
	<typeAliases>
		<!-- 手动指定别名 -->
	    <typeAlias type="cn.djel.manage.domain.user.TreeNode" alias="treeNode"/>
	    <typeAlias type="cn.djel.manage.domain.user.Right" alias="right"/>
	    <typeAlias type="cn.djel.manage.domain.user.Role" alias="role"/>
	    <typeAlias type="cn.djel.manage.domain.user.User" alias="user"/>
	    <typeAlias type="cn.djel.manage.domain.commodity.Type" alias="type"/>
	</typeAliases>
	<mappers>
	    <mapper resource="cn/djel/manage/dao/user/mapper/treeMapper.xml"/>
	    <mapper resource="cn/djel/manage/dao/user/mapper/rightMapper.xml"/>
	    <mapper resource="cn/djel/manage/dao/user/mapper/roleMapper.xml"/>
	    <mapper resource="cn/djel/manage/dao/user/mapper/userMapper.xml"/>
	    <mapper resource="cn/djel/manage/dao/commodity/mapper/typeMapper.xml"/>
	</mappers>
</configuration>