<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="cn.djel.manage.dao.user.IRightDao">  
    <select id="getAllEntity" resultType="right">  
    select * from rights r where r.enable =1
    </select>  
  <select id="getEntityById" parameterType="Integer" resultType="right">
     select * from rights r where r.id=#{id}
  </select>
  <insert id="insertEntity" parameterType="right" keyProperty="id">
     <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
       select (max(id)+1) as id from rights
    </selectKey>
   insert into rights(id,name,url,rightbit,rightcode,enable) values(#{id},#{name},#{rightbit},#{rightcode},#{enable})
  </insert>
  <update id="updateEntity" parameterType="right">
   UPDATE rights 
   SET name= #{name}, 
   <if test="rightbit != 0 and rightbit !=null ">
   rightbit=#{rightbit}, 
   </if>
   <if test="rightcode !=0 and rightcode !=null">
      rightcode=#{rightcode},
   </if>
    url=#{url}
   WHERE id=#{id}
  </update>
  <delete id="deleteEntity" parameterType="Integer">
   delete from rights r where r.id=#{id} 
  </delete>
  
    </mapper> 